# Rust
/target/
**/target/

# Flutter
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/build/
client/.packages

# IDE / local
.idea/
.vscode/
.DS_Store
.env
*.local.toml
