# Rust
/target/
**/target/
Cargo.lock

# Flutter
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/build/
client/.packages
client/pubspec.lock

# IDE / local
.idea/
.vscode/
.DS_Store
.env
*.local.toml
